BasedOnStyle: Google

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach

ColumnLimit: 120

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Right

SortIncludes: true
IncludeBlocks: Preserve

ReflowComments: true

KeepEmptyLinesAtEOF: false

IndentPPDirectives: AfterHash

AlwaysBreakTemplateDeclarations: MultiLine
BinPackParameters: false
BinPackArguments: false
PenaltyBreakTemplateDeclaration: 1000000

AlignAfterOpenBracket: AlwaysBreak
BraceWrapping:
  SplitEmptyRecord: false
  SplitEmptyFunction: false
Cpp11BracedListStyle: true
